{% extends "base.html" %}

{% block body %}

<div class="container-fluid">

  <div class="page-header">
    <h2>Cholula</h2>
  </div>

    <div class="row">

      <div class="classWithPad">
      <div class="col-md-4">
          <a href="http://www.cholula.com/"><img class="img-responsive" src="https://qph.ec.quoracdn.net/main-qimg-769084b7b9fdd3da6591a802a7749376-c"/></a>
      </div>

        <div class="col-md-8">

          <p>
            The Cholula brand all revolves around hot sauce. It is named after a 2,500 year old city, named Cholula Puebla, in Mexico, which also happens to be the oldest inhabited city in North America. Before the company made its stamp on America, it's home was Chapala, Jalisco.
            <br><br>
            After expanding across the Mexican market, it made it's first American appearance in Austin, Texas. It is now available nationwide and in some Canadian markets. The company was started by the Harrison family, but it is now owned by Jose Cuervo. Cholula is marketed in the United States as The Flavorful Fire, sponsoring a variety of professional sporting venues and competitions. In March 2007, Cholula partnered with the very popular, well known Papa John's. To make this partnership, Cholula started offering complimentary hot sauce packets with every order. In June 2010, Cholula launched a print advertisement campaign designed by JWT Singapore under the slogan "Rescue Food." On The Franchise, Brian Wilson, relief pitcher for the Los Angeles Dodgers, named Cholula as one of the best sauces. Cholula is also one of the major sponsors for the Texas Rangers, New York Mets, Chicago Cubs, Cincinnati Reds, Washington Nationals, and Miami Marlins.
            <br><br>
            <b> Source: http://www.cholula.com; https://en.wikipedia.org/wiki/Cholula_Hot_Sauce</b>
            <br><br>
            <li><a href="{{ url_for('cholula') }}">Cholula Sauce</a></li>
            <li><a href="{{ url_for('pequin_pepper') }}">Pequin Pepper</a></li>
        </p>
        </div>
      </div>
    </div>

</div>

{% endblock %}
