{% extends "base.html" %}

{% block body %}

<div class="container-fluid">

<div class="page-header">
  <h2>Frank&#8217;s Red Hot</h2>
</div>

  <div class="row">

    <div class="classWithPad">
    <div class="col-md-4">
        <a href="http://www.franksredhot.com"><img class="img-responsive" src="http://www.bestoftees.com/products/1/11588875.png"/></a>
    </div>

      <div class="col-md-8">

        <p>
          The Frank's Red Hot brand was founded by Jacob Frank. The original recipe was founded in 1896. Frank was the owner of a spice company called Frank Tea and Spice Company which was located in Cincinnati, Ohio. Frank contracted for the Estilette Pepper Farm in Louisiana where Adam Estilette and Frank became business partners. The two men mixed spices, vinegar, garlic and cayenne peppers and allowed them to age, and created the original blend of Frank's RedHot as it first appeared on the market in 1920. The Original blend ranks low on the Scoville scale with 450 SHUs, but the XTRA Hot has 2,000 SHUs. It is known as the primary ingredient in the first buffalo wing sauce, concocted in 1964 by Teressa Bellissimo at the Anchor Bar and Grill in Buffalo, New York. It is also used in Wish-Bone's new Buffalo Ranch dressing.
          <br><br>
          The company has switched hands since its original owner. In 1977 Frank's RedHot was sold to Durkee Famous Foods. Since the purchase of the Durkee brand in 1995, it is owned by Reckitt Benckiser. Frank's is produced in Springfield, Missouri. In 2007 Thanasi Foods began marketing licensed Frank's RedHot flavored beef jerky and meat snacks. As of 2016, the brand is owned by French's,[3] a subsidiary of Reckitt Benckiser.
          <br><br>
          <b> Source: https://en.wikipedia.org/wiki/Frank%27s_RedHot </b>
        </p>

        <br><br>
        <li><a href="{{ url_for('franks_red_hot') }}">Frank&#8217;s Red Hot</a></li>
        <li><a href="{{ url_for('cayenne_pepper') }}">Cayenne Pepper</a></li>

      </div>
    </div>
  </div>

</div>

{% endblock %}
