{% extends "base.html" %}

{% block body %}

<div class="container-fluid">

  <div class="page-header">
    <h2>Pequin Pepper</h2>
  </div>


    <div class="row">

      <div class="classWithPad">

      <div class="col-md-4">
          <img class="img-responsive" src="https://www.ethno-botanik.org/Capsicum/Chile-Piquin/Fotos/500/Chile-Piquin-9751.jpg" width="400" height="300" />
      </div>


        <div class="col-md-8">

          <p>Pequin (also spelled piquin) peppers are hot chile peppers that are commonly used as a spice. The name roughly translates to "tiny chile". Pequin peppers are small, rarely exceeding 2 centimeters in length. They peppers may be small, but they are fiery hot in taste. Pequin peppers are moderately spicy, ranking in the medium to hot end of the Scoville scale. They rank between 30,000 and 60,000 SHUs. As a reference, that is 5 to 24 times hotter than jalapeños. Pequin peppers are often confused with Chiltepin peppers. These small peppers are similar in appearance and taste but are not the same.</p>

          <p>Pequin peppers hail from Northern Mexico and the Southern U.S. These peppers are also known as "bird chiles" as they are a favorite among many bird species. Birds to not feel the effects of capsaicin like humans do, so these small peppers are perfect for birds. These peppers have a smoky, citrusy taste. Pequin peppers are commonly used in salsas, sauces, soups, vinegars and pickling. Pequin peppers are known as one of the main ingredients in Cholula, one of the most popular hot sauces in the world.</p>

          <br><br>
          <li><a href="{{ url_for('cholula') }}">Cholula Sauce</a></li>
          <li><a href="{{ url_for('cholula_sauce') }}">Cholula Brand</a></li>
          </div>
        </div>
      </div>
  </div>

{% endblock %}
