
{% extends "base.html" %}

{% block body %}

<div class="container-fluid">

  <div class="page-header">
    <h2>Carolina Reaper Sling Blade</h2>
  </div>


    <div class="row">

    <div class="classWithPad">
      <div class=col-md-4>
        <div class="">
          <a href="http://www.cajohns.com/"><img class="img-responsive" src="{{ url_for('static', filename='images/slingblade.jpg') }}"/></a>
        </div>
      </div>


        <div class="col-md-8">
          <p>

            <br><br>
            Scoville: 1,474,000
            <br>
            Origin: United States
            <br>
            Pepper: Carolina Reaper
            <br><br>

          </p>
          <br><br>
          <li><a href="{{ url_for('cajohns_sauce') }}">Cajohn's Fiery Foods</a></li>
          <li><a href="{{ url_for('carolina_pepper') }}">Carolina Reaper Pepper</a></li>
        </div>
      </div>
    </div>

</div>

{% endblock %}
