
{% extends "base.html" %}

{% block body %}

<div class="container-fluid">

  <div class="page-header">
    <h2>Tabasco</h2>
  </div>


    <div class="row">

    <div class="classWithPad">
      <div class=col-md-4>
        <div class="">
          <a href="http://www.tabasco.com"><img class="img-responsive" src="{{ url_for('static', filename='images/tabascosauce.jpeg') }}"/></a>
        </div>
      </div>


        <div class="col-md-8">
          <p>

            <br><br>
            Scoville: 3,000
            <br>
            Origin: United States
            <br>
            Pepper: Tabasco Pepper
            <br><br>
            Source: <a href="https://en.wikipedia.org/wiki/Tabasco_sauce">Wikipedia</a>

          </p>
          <br><br>
          <li><a href="{{ url_for('tabasco_sauce') }}">Tabasco Brand</a></li>
          <li><a href="{{ url_for('tabasco_pepper') }}">Tabasco Pepper</a></li>
        </div>
      </div>
    </div>

</div>

{% endblock %}
