{% extends "base.html" %}

{% block body %}

<div class="container-fluid">

  <div class="page-header">
    <h2>Tabasco Pepper</h2>
  </div>


    <div class="row">

    <div class="classWithPad">
      <div class="col-md-4">

          <img class="img-responsive" src="http://microfamilyfarms.com/assets/images/Pepper_Tobasco.jpg" width="390" height="160" />
      </div>


        <div class="col-md-8">

          <p>The tabasco pepper is a variety of chili pepper, known for its use in Tabasco sauce. The peppers are named after the Mexican state of Tabasco, where the peppers originated from. Tabascos rate from 30,000 to 50,000 on the Scoville scale. Tabasco peppers are the only variety of chili pepper that is "juicy", meaning they are not dry on the inside. As the peppers ripen, they change color. They start off as yellow, then orange, and finally red. Tabasco peppers are often picked in vinegar. Tabasco pepper jelly is also very popular. In the 1960s, a large portion of the tabasco pepper stock fell victim to the tobacco mosaic virus. A few years later a virus resistant variety was cultivated.</p>

          <br><br>
          <li><a href="{{ url_for('tabasco_sauce') }}">Tabasco Brand</a></li>
          <li><a href="{{ url_for('tabasco') }}">Tabasco Sauce</a></li>
          </div>
        </div>
      </div>
  </div>

{% endblock %}
