footer {
	text-align: center;
	margin: 100px;
}

.img-container {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: 0 auto;
	overflow: hidden;
}

.aboutImg {
	display: block;
    height: auto;
    width: 100%;
}

.col-md-4 {
	text-align: center;
}

.col-md-4 h3 {
	font-family: 'Comfortaa', cursive;
}

.title {
	font-family: 'Comfortaa', cursive;
	text-align: center;
	margin: 30px;
	font-weight: bold;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    font-family: 'Raleway', sans-serif;
    background-color: white;
}


.navbar .navbar-collapse {
    text-align: center;
    background-color: #a51324;
}


.page-header {
	font-family: 'Raleway', sans-serif;
}

.feature {
	float: left;
	text-align: center;
	margin: 0px 0px 0px 150px;
}

.feature img {
<<<<<<< HEAD
	width: 30%;
	height: 30%;
}


.description {
	text-align: center;
	margin: 50px 200px 50px 0px;
}
=======
	width: 10%;
	height: 10%;
}
.headerLink:hover {
	color: #d63030;
	text-decoration: none;


}
.headerLink{
	color: black;
	transition: color 350ms ease-in-out, background-color 350ms ease-in-out
}
>>>>>>> f5242f375cce7dcb5931c7dfaee994ac6ec9f24d
